body {
  margin: 0;
  background-color: #1c5148;
  height: 100vh;
  font-family: "Hubballi-Regular", Helvetica;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
