body {
  margin: 0;
  background-color: #1c5148;
  height: 100%;
  font-family: "Hubballi-Regular", Helvetica;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
